@import url("../Stylesheets/global.css");

.hero {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero img {
  position: absolute;
  z-index: -10;
  top: 0;
  width: 100%;
}

.hero h1 {
  color: white;
}

.hero p {
  color: white;
}
