@import url("../Stylesheets/global.css");

.title {
  text-align: center;
  margin: 15px;
}

.card-text-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.link-row {
  display: flex;
  justify-content: flex-end;
}

.link {
  margin-bottom: 8px;
  text-decoration: none;
  font-size: 22px;
}

.bi-heart {
  font-size: 18px;
}

.likes-text {
  position: relative;
  bottom: 1px;
  left: 3px;
}
