@import url("../Stylesheets/global.css");

.widget-bar {
  display: flex;
  justify-content: space-around;
}

.carosuel-layout {
  background-color: #ECECEC;
}

.carousel-img {
  margin: 0 auto;
}

.white-padding {
  width: 100%;
  padding: 150px;
}

@media screen and (max-width: 768px) {
  .widget-bar {
    display: initial;
  }
}
