@import url("../styles/global.css");

.about-us-paragraphs {
    margin-right: 70px;
    margin-left: 70px;
    margin-top: 20px;
}

.social-media-icons {
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: center;

}

.black {
    color: black;
}