@import url("../styles/global.css");

.row h1 {
  margin-top: 10px;
  margin-bottom: 15px;
}

.widget-bar {
  align-self: start;
  display: flex;
  justify-content: flex-end;
  font-size: 34px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.widget-bar .bi-bookmark,.widget-bar .bi-bookmark-check {
  margin-left: 20px;
  cursor: pointer;
}

.carousel-layout {
  background-color: #ECECEC;
}

.widget-bar .bi-heart {
  position: relative;
}

.likes-text {
  position: absolute;
  top: 40px;
  left: -1px;
  font-size: 12px;
  white-space: nowrap;
}

.carousel-img {
  margin: 0 auto;
}

.submit_button {
  padding-top: 10px;
}

#commentround {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.commentcard {
  padding-top: 20px;
  display: inline-block;
  width: 100%;

  border: 1px solid grey;
  padding: 5px;
  margin-top: 10px;
}

.userimg {
  float: left;
  box-sizing: border-box;

}

.usercomment {
  box-sizing: border-box;
  clear: both;
}



@media screen and (max-width: 767px) {
  .row h1 {
    margin-bottom: 0;
  }

  .widget-bar {
    justify-content: flex-start;
    margin-top: 0;
  }

  .widget-bar i:nth-child(2) {
    margin-left: 20px;
  }

  .widget-bar i:nth-child(3) {
    margin-left: 20px;
  }

}