@import url("../styles/global.css");

.title {
  font-weight: bold;
  font-size: 32px;
}

.header-font {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}


.sub-title {
  font-weight: bold;
  font-size: 27px;
  text-align: center;
}

.title-header {
  margin-top: 60px;
  margin-bottom: 5px;
}

.bookmark-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 15px;
}

.bookmark-container button {
  font-size: 18px;
}

.event-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.star-container {
  font-size: 24px;
}

.star-container,.rating-container {
  color: #C89933;
}

.submit_button {
  padding-top: 10px;
  display: flex;
  justify-content: end;
}

.comment_box select {
  margin-bottom: 10px;
}

#commentround {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.commentcard {
  margin-top: 10px;
}

.userimg {
  box-sizing: border-box;
  padding-bottom: 10px;
}

.user-info {
  border-bottom: 1px solid grey;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.username {
  font-size: 20px;
}

#comment-input {
  margin-top: 3%;
}

@media screen and (max-width: 767px) {
  .bookmark-container {
    justify-content: flex-start;
  }

  .bookmark-container button {
    font-size: 14px;
  }

  .star-container {
    font-size: 21px;
  }
}