@import url("../styles/global.css");

.row h1 {
  margin-top: 10px;
  margin-bottom: 15px;
}

.widget-bar {
  align-self: start;
  display: flex;
  justify-content: space-between;
  font-size: 34px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.widget-bar .bi-bookmark,
.widget-bar .bi-bookmark-check {
  margin-left: 20px;
  cursor: pointer;
  font-size: 30px;
}

.carousel-layout {
  background-color: #ECECEC;
}

.widget-bar .bi-star {
  position: relative;
}

.likes-text {
  position: absolute;
  top: 40px;
  left: -1px;
  font-size: 12px;
  white-space: nowrap;
}

.carousel-img {
  margin: 0 auto;
}

.submit_button {
  padding-top: 10px;
}

#commentround {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.commentcard {
  padding-top: 20px;
  display: inline-block;
  width: 100%;

  border: 1px solid grey;
  padding: 5px;
  margin-top: 10px;
}

.userimg {
  float: left;
  box-sizing: border-box;
}

.usercomment {
  box-sizing: border-box;
  clear: both;
}

.header-font {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin-top: 3%;
}

#title-font {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

#comment-input {
  margin-top: 3%;
}


@media screen and (max-width: 767px) {
  .row h1 {
    margin-bottom: 0;
  }

  .widget-bar {
    justify-content: flex-start;
    margin-top: 0;
  }
/*
  .widget-bar .bi-star {
    margin-left: 20px;
  }
*/
  .widget-bar .bookmark-btn {
    margin-left: 20px;
  }

}