@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

html {
  font-size: 14px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.hide {
  display: none;
}

.logoutbtn {
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;

}

.navprofilepic {
  position: absolute;
  right: 70px;
  border-radius: 10%;

}

.round {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid black;
}

footer {
  background-color: #EBECF0;
  margin-top: 10px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}