@import url("../styles/global.css");

#round {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
}

.setting_icon {
    float: right;
    font-size: xx-large;
    margin-right: 20px;
}

.profile-settings-row {
  display: flex;
  justify-content: space-between;
}

.modal-button {
  margin-top: 50px;
  align-self: flex-start;
  text-decoration: none;
  color: unset;
}

.modal-button i {
  font-size: 25px;
}

.modal-button:hover {
  cursor: pointer;
}

.user-profile {
  width: 100%;
  padding-left: 20px;
}

.placeholder {
  height: 16px;
  background-color: grey;
  margin-top: 8px;
}

@media screen and (max-width: 350px) {
  .profile-settings-row {
    flex-direction: column;
    justify-content: space-around;
  }

  .modal-button {
     order: 1;
     margin-left: 10px;
  }

  .user-profile {
    order: 2;
  }
}
