@import url("../styles/global.css");

.sub-title {
  font-weight: bold;
  font-size: 27px;
  text-align: center;
}

.profile-row {
  margin-top: 15px;
}

.profile-pic {
  max-width: 100%;
}

.user-settings {
  display: flex;
  justify-content: space-between;
}

.modal-button {
  align-self: center;
  text-decoration: none;
  color: unset;
}

.modal-button i {
  font-size: 25px;
}

.modal-button:hover {
  cursor: pointer;
}

.modal-fullscreen {
  width: auto !important;
}

.profile-button {
  align-self: end;
}

.carousel-control-next,
.carousel-control-prev

/*, .carousel-indicators */
  {
  filter: invert(100%);
}

.carousel-item img {
  margin: 0 auto;
  max-width: 100%;
}