@import url("../styles/global.css");

.setting_icon {
  float: right;
  font-size: xx-large;
  margin-right: 20px;
}

.profile-settings-row {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.modal-button {
  margin-top: 50px;
  align-self: flex-start;
  text-decoration: none;
  color: unset;
}

.modal-button i {
  font-size: 25px;
}

.modal-button:hover {
  cursor: pointer;
}

.user-profile {
  width: 100%;
  padding-left: 20px;
}


#carouselExampleCaptions {
  background-color: #E8E9EB;
}

.carousel-item img{
  margin: 0 auto;
  max-width: 100%;
}

@media screen and (max-width: 350px) {
  .profile-settings-row {
    flex-direction: column;
    justify-content: space-around;
  }

  .modal-button {
    order: 1;
    margin-left: 10px;
  }

  .user-profile {
    order: 2;
  }
}